<header class="mb-5">
    <div class="container-header">
      <div class="text-center my-5">
        <h1>EVENTS</h1>
      </div>
    </div>
  </header>
  
  <div class="scrolling-wrapper">
    <div class="card-event" >
      <div class="container-event">
        <div class="cta"  >
          <img src="../../../assets/postercluj.jpg" alt="">
          <div class="text">
            <h2>Cluj Event</h2>
            <div class="date">{{ 25.04.2024 | date:'shortDate' }}</div>
            <p >A Christian music event happeening in Cluj Napoca</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-event" >
      <div class="container-event">
        <div class="cta"  >
          <img src="../../../assets/posteroradea.jpg" alt="">
          <div class="text">
            <h2>Oradea Event</h2>
            <div class="date">{{ 25.05.2024 | date:'shortDate' }}</div>
            <p >A Christian music event happeening in Oradea</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-event" >
      <div class="container-event">
        <div class="cta"  >
          <img src="../../../assets/_DNC3650.jpg" alt="">
          <div class="text">
            <h2>Timisoara Event</h2>
            <div class="date">{{ 25.06.2024 | date:'shortDate' }}</div>
            <p >A Christian music event happeening in Timisoara</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-event" >
      <div class="container-event">
        <div class="cta"  >
          <img src="../../../assets/pozecristocentrichb/_DNC3730.jpg" alt="">
          <div class="text">
            <h2>Budapest Event</h2>
            <div class="date">{{ 25.04.2024 | date:'shortDate' }}</div>
            <p >A Christian music event happeening in Budapest</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  