<header>
  <div class="container-header">
    <div class="text-center my-5">
      <h1>STORE</h1>
    </div>
  </div>
</header>
<div class="container-products">
  <div class="wrapper">
    <div class="services">
      <a >
        <span class="single-img img-one" style="background-image: url(https://i.ibb.co/q7Fcq0X/prodigi-global-hoodie-kids-xs-arctic-white.png);">
          <span class="img-text">
            <h4>Kids Hoodie Cristocentric</h4>
            <p>Kids hoodie,cross design with gradient color purple to orange.</p>
            <button role="button" >SEE PRODUCT</button>
          </span>
        </span>
      </a>
      <a >
        <span class="single-img img-one" style="background-image: url(https://i.ibb.co/phmMdRJ/prodigi-bc6004-womens-tshirt-uk-s-black.png);">
          <span class="img-text">
            <h4>Woman Cristocentric T-shirt</h4>
            <p>Ladies t-shirt,Black, xxl,Cristocentric gradient design purple to orange.</p>
            <button role="button" >SEE PRODUCT</button>
          </span>
        </span>
      </a>
      <a >
        <span class="single-img img-one" style="background-image: url(https://i.ibb.co/3WFv7cZ/prodigi-tshirt-uk-s-white.png);">
          <span class="img-text">
            <h4>Unisex Cristocentric T-shirt</h4>
            <p>Unisex Softstyle T-shirt,Cristocentric gradient design purple to orange.</p>
            <button role="button" >SEE PRODUCT</button>
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
