body {
    font-family: 'Exo', sans-serif;
}

.context {
    width: 100%;
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 20px;

    .txt-time {
        text-align: center;
        font-family: "Fira Sans";
        color: white;
        font-size: 50px;
        letter-spacing: 5px;
        padding-bottom: 10px;
    }

    .txt-greetings {
        text-align: center;
        font-family: "Fira Sans";
        letter-spacing: 3px;
        color: white;
        font-size: 18px;
    }

    .txt-suggestion {
        text-align: center;
        font-family: "Fira Sans";
        color: white;
        text-decoration: none;
    }
}


.area {
    background: black;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}