<div class="container-about">
    <div class="wrapper">
        <div class="text">Cristocentric is a Christian pop rock band that formed in the early 2000’. For
            the last 20 years the band grew a substantial audience in the Christian community
            in Romania and many other countries and was given the chance to impact and
            change a lot of lives by promoting the Gospel through their music. Every day,
            immoral values are promoted more and more to be normalized subconsciously in
            the population. The importance of promoting Christian values by all possible means
            is no longer an option, but a necessity because in a world where good does nothing,
            evil wins.</div>
        <div class="image">
        </div>
    </div>
</div>
