<header class=" mb-5">
    <div class="container-header">
      <div class="text-center my-5">
        <h1>ARTICLES</h1>
      </div>
    </div>
  </header>
  
  <!-- Page content-->
  <div class="container" >
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4" >
          <a ><img class="card-img-top" id="featured-photo" src="../../../assets/worshipbg.jpg" alt="..." /></a>
          <div class="card-body">
            <div class="small text-muted">{{ 25.12.2023 | date:'shortDate'}}</div>
            <h2 class="card-title">Help Even the unrigheous poor</h2>
            <p class="card-text content-limit" id="content" >My office is located in one of the poorer areas in the city of Birmingham, Alabama. Even as I am writing this, outside my window I can see two prostitutes standing across the street outside a hotel and a homeless man pushing a grocery cart full of cans. Confronted with scenes like this on a daily basis has made me think a lot about Jesus’ call to serve the least of these. What should this look like in my life? Over the years, I have far more failures than successes when it comes reaching out to these people. It might not be easy, but our call to help the poor is a scriptural mandate that few would argue against. Deuteronomy 15:7-8 says:

              If among you, one of your brothers should become poor, in any of your towns within your land that the Lord your God is giving you, you shall not harden your heart or shut your hand against your poor brother, but you shall open your hand to him and lend him sufficient for his need, whatever it may be.
              
              This is just one of many passages in the Bible that show God’s concern for the least of these. But any person who has actually spent time serving the poor realizes that it is not for the faint of heart. I have seen many passionate, bright-eyed Christians with a “heart for the poor” burn out in a matter of months or even weeks. This happens because the poor they serve often do not respond in the way they expect. As these generous people give of their time and money, they assume that the poor people they help will be appreciative and kind. Perhaps going into this they pictured a homeless man shedding tears of gratitude for the new coat and warm sandwich he received. Instead they receive not so much as a “thank you” or “God bless you.” Maybe they will even be criticized for the color of the coat or the sogginess of the sandwich. They quickly find out that some beggars can be choosers—and mean ones at that!
              
              I experienced this firsthand recently when a homeless lady approached me and asked for money. I said that I’d buy her a meal instead. She loudly berated me in front of onlookers for this perceived insult until finally agreeing to let me buy the meal. As I walked in to the restaurant, she barked after me, “Combo number six with Dr. Pepper!” When I returned with her food, she got angry with me for bringing her the wrong dipping sauce. All in all, it was not a pleasant experience. I certainly didn’t leave with that “feel-good feeling” from helping the poor.
              
              Certainly not all of the poor are like this. I have found many to be some of the most humble and gracious people I know, but there is no getting around the fact that some are just plain mean-spirited. Many are homeless and hungry as a consequence of their own evil actions. Often they will squander any aid you do give them. Many will never thank you or will even speak ill of you as you give of your time and money. So does our biblical mandate to help the poor mean that we are we to spend our lives helping out people like this? The answer is YES and without reservation. Jesus Christ calls us to help even the unrighteous poor.</p>
            <a class="button-54" >Read more →</a>
          </div>
        </div>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <div class="col-lg-6" >
            <!-- Blog post-->
            <div class="card mb-4">
              <a ><img class="card-img-top" id="secondary-photo" src="../../../assets//img/bg5.jpg" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">{{ 22.01.2024 | date:'shortDate'}}</div>
                <h2 class="card-title h4">The generation of tech</h2>
                <p class="card-text content-limit" id="content" >Even as I am writing this, outside my window I can see two prostitutes standing across the street outside a hotel and a homeless man pushing a grocery cart full of cans. Confronted with scenes like this on a daily basis has made me think a lot about Jesus’ call to serve the least of these. What should this look like in my life? Over the years, I have far more failures than successes when it comes reaching out to these people. It might not be easy, but our call to help the poor is a scriptural mandate that few would argue against. Deuteronomy 15:7-8 says:

                  If among you, one of your brothers should become poor, in any of your towns within your land that the Lord your God is giving you, you shall not harden your heart or shut your hand against your poor brother, but you shall open your hand to him and lend him sufficient for his need, whatever it may be.
                  
                  This is just one of many passages in the Bible that show God’s concern for the least of these. But any person who has actually spent time serving the poor realizes that it is not for the faint of heart. I have seen many passionate, bright-eyed Christians with a “heart for the poor” burn out in a matter of months or even weeks. This happens because the poor they serve often do not respond in the way they expect. As these generous people give of their time and money, they assume that the poor people they help will be appreciative and kind. Perhaps going into this they pictured a homeless man shedding tears of gratitude for the new coat and warm sandwich he received. Instead they receive not so much as a “thank you” or “God bless you.” Maybe they will even be criticized for the color of the coat or the sogginess of the sandwich. They quickly find out that some beggars can be choosers—and mean ones at that!
                  
                  I experienced this firsthand recently when a homeless lady approached me and asked for money. I said that I’d buy her a meal instead. She loudly berated me in front of onlookers for this perceived insult until finally agreeing to let me buy the meal. As I walked in to the restaurant, she barked after me, “Combo number six with Dr. Pepper!” When I returned with her food, she got angry with me for bringing her the wrong dipping sauce. All in all, it was not a pleasant experience. I certainly didn’t leave with that “feel-good feeling” from helping the poor.
                  
                  Certainly not all of the poor are like this. I have found many to be some of the most humble and gracious people I know, but there is no getting around the fact that some are just plain mean-spirited. Many are homeless and hungry as a consequence of their own evil actions. Often they will squander any aid you do give them. Many will never thank you or will even speak ill of you as you give of your time and money. So does our biblical mandate to help the poor mean that we are we to spend our lives helping out people like this? The answer is YES and without reservation. Jesus Christ calls us to help even the unrighteous poor.</p>
                <a class="button-54"  >Read more →</a>
              </div>
            </div>
            
          </div>
          <div class="col-lg-6" >
            <!-- Blog post-->
            <div class="card mb-4">
              <a ><img class="card-img-top" id="secondary-photo" src="../../../assets/orangebg.jpg" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">{{ 22.01.2024 | date:'shortDate'}}</div>
                <h2 class="card-title h4">Mental Illness has a face</h2>
                <p class="card-text content-limit" id="content" > I said that I’d buy her a meal instead. She loudly berated me in front of onlookers for this perceived insult until finally agreeing to let me buy the meal. As I walked in to the restaurant, she barked after me, “Combo number six with Dr. Pepper!” When I returned with her food, she got angry with me for bringing her the wrong dipping sauce. All in all, it was not a pleasant experience. I certainly didn’t leave with that “feel-good feeling” from helping the poor.
                  
                  Certainly not all of the poor are like this. I have found many to be some of the most humble and gracious people I know, but there is no getting around the fact that some are just plain mean-spirited. Many are homeless and hungry as a consequence of their own evil actions. Often they will squander any aid you do give them. Many will never thank you or will even speak ill of you as you give of your time and money. So does our biblical mandate to help the poor mean that we are we to spend our lives helping out people like this? The answer is YES and without reservation. Jesus Christ calls us to help even the unrighteous poor.</p>
                <a class="button-54"  >Read more →</a>
              </div>
            </div>
            
          </div>
          <div class="col-lg-6" >
            <!-- Blog post-->
            <div class="card mb-4">
              <a ><img class="card-img-top" id="secondary-photo" src="../../../assets/unlucrubg2.jpg" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">{{ 22.01.2024 | date:'shortDate'}}</div>
                <h2 class="card-title h4">Learning to get help</h2>
                <p class="card-text content-limit" id="content" > But any person who has actually spent time serving the poor realizes that it is not for the faint of heart. I have seen many passionate, bright-eyed Christians with a “heart for the poor” burn out in a matter of months or even weeks. This happens because the poor they serve often do not respond in the way they expect. As these generous people give of their time and money, they assume that the poor people they help will be appreciative and kind. Perhaps going into this they pictured a homeless man shedding tears of gratitude for the new coat and warm sandwich he received. Instead they receive not so much as a “thank you” or “God bless you.” Maybe they will even be criticized for the color of the coat or the sogginess of the sandwich. They quickly find out that some beggars can be choosers—and mean ones at that!
                  
                  I experienced this firsthand recently when a homeless lady approached me and asked for money. I said that I’d buy her a meal instead. She loudly berated me in front of onlookers for this perceived insult until finally agreeing to let me buy the meal. As I walked in to the restaurant, she barked after me, “Combo number six with Dr. Pepper!” When I returned with her food, she got angry with me for bringing her the wrong dipping sauce. All in all, it was not a pleasant experience. I certainly didn’t leave with that “feel-good feeling” from helping the poor.
                  
                  Certainly not all of the poor are like this. I have found many to be some of the most humble and gracious people I know, but there is no getting around the fact that some are just plain mean-spirited. Many are homeless and hungry as a consequence of their own evil actions. Often they will squander any aid you do give them. Many will never thank you or will even speak ill of you as you give of your time and money. So does our biblical mandate to help the poor mean that we are we to spend our lives helping out people like this? The answer is YES and without reservation. Jesus Christ calls us to help even the unrighteous poor.</p>
                <a class="button-54"  >Read more →</a>
              </div>
            </div>
            
          </div>
          <div class="col-lg-6" >
            <!-- Blog post-->
            <div class="card mb-4">
              <a ><img class="card-img-top" id="secondary-photo" src="../../../assets/pozecristocentrichb/_DNC3646.jpg" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">{{ 22.01.2024 | date:'shortDate'}}</div>
                <h2 class="card-title h4">Jesus is king</h2>
                <p class="card-text content-limit" id="content" >My office is located in one of the poorer areas in the city of Birmingham, Alabama. Even as I am writing this, outside my window I can see two prostitutes standing across the street outside a hotel and a homeless man pushing a grocery cart full of cans. Confronted with scenes like this on a daily basis has made me think a lot about Jesus’ call to serve the least of these. What should this look like in my life? Over the years, I have far more failures than successes when it comes reaching out to these people. It might not be easy, but our call to help the poor is a scriptural mandate that few would argue against. Deuteronomy 15:7-8 says:

                  If among you, one of your brothers should become poor, in any of your towns within your land that the Lord your God is giving you, you shall not harden your heart or shut your hand against your poor brother, but you shall open your hand to him and lend him sufficient for his need, whatever it may be.
                  
                  This is just one of many passages in the Bible that show God’s concern for the least of these. But any person who has actually spent time serving the poor realizes that it is not for the faint of heart. I have seen many passionate, bright-eyed Christians with a “heart for the poor” burn out in a matter of months or even weeks. This happens because the poor they serve often do not respond in the way they expect. As these generous people give of their time and money, they assume that the poor people they help will be appreciative and kind. Perhaps going into this they pictured a homeless man shedding tears of gratitude for the new coat and warm sandwich he received. Instead they receive not so much as a “thank you” or “God bless you.” Maybe they will even be criticized for the color of the coat or the sogginess of the sandwich. They quickly find out that some beggars can be choosers—and mean ones at that!
                  
                  I experienced this firsthand recently when a homeless lady approached me and asked for money. I said that I’d buy her a meal instead. She loudly berated me in front of onlookers for this perceived insult until finally agreeing to let me buy the meal. As I walked in to the restaurant, she barked after me, “Combo number six with Dr. Pepper!” When I returned with her food, she got angry with me for bringing her the wrong dipping sauce. All in all, it was not a pleasant experience. I certainly didn’t leave with that “feel-good feeling” from helping the poor.
                  
                  Certainly not all of the poor are like this. I have found many to be some of the most humble and gracious people I know, but there is no getting around the fact that some are just plain mean-spirited. Many are homeless and hungry as a consequence of their own evil actions. Often they will squander any aid you do give them. Many will never thank you or will even speak ill of you as you give of your time and money. So does our biblical mandate to help the poor mean that we are we to spend our lives helping out people like this? The answer is YES and without reservation. Jesus Christ calls us to help even the unrighteous poor.</p>
                <a class="button-54"  >Read more →</a>
              </div>
            </div>
            
          </div>
          <!-- Pagination controls -->
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center mt-4">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="goToPage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of getPaginationArray()">
        <a class="page-link" (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="goToPage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  
        </div>
      </div>

      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Search widget-->
        <!-- <div class="card mb-4">
          <div class="card-header">Search</div>
          <div class="card-body">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
              <button class="button-54" id="button-search" type="button">Go!</button>
            </div>
          </div>
        </div> -->
        <!-- Categories widget-->
        <!-- <div class="card mb-4">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#!">Web Design</a></li>
                  <li><a href="#!">HTML</a></li>
                  <li><a href="#!">Freebies</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#!">JavaScript</a></li>
                  <li><a href="#!">CSS</a></li>
                  <li><a href="#!">Tutorials</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Side widget-->
        <div class="card mb-4">
          <div class="card-header"></div>
          <div class="card-body clock"><app-clock></app-clock></div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>

  <app-donate></app-donate>
  