.container {
    height: 1550px;
    padding-top: 100px;
    margin-bottom: 100px;
    /* Example height for the other content */
}


.container-header {
    padding-top: 20.5rem;
    padding-bottom: 20.5rem;
    text-align: center;
    color: #fff;
    z-index: 9999;
    background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),  url(src/assets/pozecristocentrichb/_DNC3752.jpg);

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.container-header h1 {
    z-index: 10;
}


.container-header h1 {
    color: white;
    font-size: 10vw;
    font-family: 'Anzeigen Grotesk D';
    font-style: normal;
    font-weight: 500;
    /* line-height: 75%; */
    letter-spacing: 0.135em;
}




#featured-photo {
    aspect-ratio: 16/9;
    width: 100%;

    object-fit: cover;
    object-position: left;
}

#secondary-photo {
    aspect-ratio: 16/9;
    width: 100%;

    object-fit: cover;
    object-position: left;
}

#content {
    color: white;
}

.content-limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Limit to 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    color: white;
}

.card-body {
    background-color: #212529;

}

.clock {
    height: 110px;
}






.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: white;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

app-donate{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}