<div class="collection-list-wrapper w-dyn-list">
  <div role="list" class="side-socials-inner w-dyn-items">
    <div role="listitem" class="side-social-item w-dyn-item">
      <a
        href="https://www.facebook.com/Cristocentric"
        target="_blank"
        class="social-link"
        ></a
      >
    </div>
    <div role="listitem" class="side-social-item w-dyn-item">
      <a
        href="https://www.instagram.com/cristocentric/"
        target="_blank"
        class="social-link"
        ></a
      >
    </div>
    <div role="listitem" class="side-social-item w-dyn-item">
      <a
        href="https://youtube.com/@CRISTOCENTRICband"
        target="_blank"
        class="social-link"
        ></a
      >
    </div>
    <div role="listitem" class="side-social-item w-dyn-item">
      <a
        href="https://open.spotify.com/artist/4rZngFye2OGjJqML70QYAO"
        target="_blank"
        class="social-link"
        ></a
      >
    </div>
    <div role="listitem" class="side-social-item w-dyn-item">
      <a
        href="https://music.apple.com/us/artist/cristocentric/1518055613"
        target="_blank"
        class="social-link"
        ></a
      >
    </div>
    <div role="listitem" class="side-social-item w-dyn-item">
      <a
        href="https://www.tiktok.com/@cristocentricofficial"
        target="_blank"
        class="social-link"
        ></a
      >
    </div>
  </div>
</div>
